.wrapper {
    display: flex;
}

.day_list {
    width: 300px;
    max-width: 90vw;

    /* border: 1px solid var(--level2); */

    margin: 0;
    padding: -10px;
}

.cabinet {
    padding: var(--inset2);
    text-align: center;
    background-color: var(--level2);

    border-radius: var(--inset0) var(--inset0) 0px 0px ;
}

.weekday {
    font-size: 1.5em;
    margin: var(--inset2) 0px;
}

.date {
    margin: var(--inset2);
}

.cell {
    border: 1px solid var(--level3) !important;
}

.head {
    border: 1px solid var(--level3) !important;

    font-size: 1em !important;
    font-weight: bold !important;
    text-align: center !important;
}

.weekday_head {
    border: 1px solid var(--level3) !important;
    background-color: var(--level2);

    font-size: 1em !important;
    font-weight: bold !important;
    
}