.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
}

.tools {
  display: flex;
  flex-direction: row;
  width: inherit;

  margin-bottom: var(--inset4);
}

.print {
  align-self: center;
}

.header {
  flex-grow: 1;
}

.head {
  background-color: var(--level2);
}

.table {
  border-collapse: collapse;
  table-layout: auto;
  width: 95vw;

  margin-bottom: var(--inset4);
}

.head_td {
  padding: 8px;
  border: 1px solid var(--level2) !important;
}

.td {
  padding: 8px;
  border: 1px solid var(--level3) !important;
}
.head_cell {
  margin: 4px;
  height: inherit;
  width: inherit;
}

.cell_item {
  border-top: 1px solid var(--level3);
  padding: 12px 0;
}

.cell_item:first-child {
  border: none;
  padding-top: 0;
}

.cell_item:last-child {
  padding-bottom: 0;
}

.free_cell {
  margin: var(--inset3);
  width: inherit;
}
