.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
}

.tools {
  display: flex;
  flex-direction: row;
  width: inherit;

  margin-bottom: var(--inset4);
}

.print {
  align-self: center;
}

.header {
  flex-grow: 1;
}

.table {
  min-width: 95vw;
  border-collapse: collapse;
  border: 1px solid var(--level3) !important;
  overflow-y: auto;
}

.td {
  padding: var(--inset1);
  border: 1px solid var(--level3) !important;
}

.head {
  background-color: var(--level2);
}

.free_day {
  border-left: 1px solid var(--level3);
  border-right: 1px solid var(--level3);
}

.interval {
  width: 92px;
  max-width: 92px;
}

.cell_item {
  border-top: 1px solid var(--level3);
  padding: var(--inset1) 0;
}

.cell_item:first-child {
  border-top: none;
  padding-top: 0px;
}

.cell_item:last-child {
  padding-bottom: 0px;
}
