.wrapper {
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 700px;
	max-width: 90vw;
}

.header {
	text-align: center;
}

.search {
	width: inherit;
	max-width: inherit;
}

.progress {
	margin-top: 200px;
}

.list {
	margin-top: var(--inset3);
	width: inherit;
	max-width: inherit;

	border: 1px solid var(--level3);
	border-radius: var(--inset0);
}

.chips {
	display: flex;
	flex-direction: row;
	overflow-y: auto;

	width: inherit;
	max-width: inherit;
}

.chip {
	margin: var(--inset2) !important;
	margin-left: 0px !important;
}

.btn {
	margin-top: var(--inset1) !important;
}

.link {
	width: inherit;
	height: inherit;
	text-decoration: none;
	color: inherit;
}

.banner {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: var(--inset5);
	margin-bottom: var(--inset1);
}
