.main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.btn {
    color: black !important;
    margin-top: 16px !important;

    width: 500px;
    max-width: 90vw;
    height: 80px;

    font-size: 1.2em !important;
}

.link {
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: inherit;
}