.main {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.item {
	margin-top: 32px !important;
}

.link {
	width: inherit;
	height: inherit;
	text-decoration: none;
	color: inherit;
}

.title {
	text-align: center;
}
