.main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.link {
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: inherit;
}

.title {
    text-align: center;
}