.title {
  flex-grow: 1;
}

.outer {
  position: relative !important;
}
.inner {
  position: absolute !important;
  width: auto;
  height: 36px;
  right: 0;
}

.date_picker {
  width: 0px !important;
}

.filler {
  width: 150px;
  margin-left: var(--inset2);

  display: flex;
  flex-direction: row;
}

.btn {
  align-self: flex-end !important;
}
