.search_wrapper {
  height: 40px;
  max-width: 90vw;

  display: flex;
  flex-direction: row;

  align-items: center;
}

.icon {
  color: var(--icon-fill);

  margin-left: var(--inset2);

  background-color: rgba(0, 0, 0, 0) !important;
}

.search {
  padding-left: var(--inset1);
  width: inherit;

  font-size: 1em;
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
