.search_wrapper {
  height: 36px;
  width: 268px;
  max-width: calc(100% - 24px);

  padding-left: var(--inset2);

  border-radius: 4px;

  display: flex;
  flex-direction: row;

  align-self: center;
  justify-self: center;

  justify-items: center;
  align-items: center;

  background-color: var(--level2);
}

.icon {
  color: var(--icon-fill);

  background-color: rgba(0, 0, 0, 0) !important;
}

.search {
  padding-left: 8px;
}

.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
