.wrapper {
	display: flex;
	flex-direction: row;

	align-items: center;

	width: 100vw;
	height: 64px;
}

.link {
	text-decoration: none;
}

.github {
	display: flex;
	flex-direction: row;

	margin-left: var(--inset1);

	justify-content: center;
	align-items: center;
}

@media (prefers-color-scheme: light) {
	.wrapper {
		border-top: 1px solid var(--level3) !important;
	}
}
