.wrapper {
  display: flex;
  flex-direction: column;
}

.list {
  margin-bottom: 16px;
}

.head {
  background-color: var(--level2);
}

tr {
  background-color: aqua;
  border: 1px solid black !important;
}
