.cabinets {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 700px;
  max-width: 90vw;
}

.search {
  width: inherit;
  max-width: inherit;
}

.progress {
  margin-top: 200px;
}

.list {
  margin-top: var(--inset1);
  width: inherit;
  max-width: inherit;
}

.chips {
  display: flex;
  flex-direction: row;

  justify-content: left !important;

  width: inherit;
  max-width: inherit;
}

.chip {
  margin: var(--inset1);
  margin-left: 0px;
}

.btn {
  margin-top: var(--inset1) !important;
}

.link {
  width: inherit;
  height: inherit;
  text-decoration: none;
  color: inherit;
}

.banner {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: var(--inset5);
  margin-bottom: var(--inset1);
}
